---
interface Props {
  title: string;
  description: string;
  noindex?: boolean;
}

const { title, description, noindex = false } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    {noindex && <meta name="robots" content="noindex,nofollow" />}
    <title>{title}</title>
  </head>
  <body>
    <main><slot /></main>
  </body>
</html>
